<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [6]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [132]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.20.1
Pandas:  1.2.4

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [133]:
# wrong:
bikes = pd.read_table('bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 0)
print(bikes.head())

                                                   0
0  datetime,season,holiday,workingday,weather,tem...
1    1/01/2011 0:00,1,0,0,1,9.84,14.395,81,0,3,13,16
2    1/01/2011 1:00,1,0,0,1,9.02,13.635,80,0,8,32,40
3    1/01/2011 2:00,1,0,0,1,9.02,13.635,80,0,5,27,32
4    1/01/2011 3:00,1,0,0,1,9.84,14.395,75,0,3,10,13

     1/01/2011 0:00,1,0,0,1,9.84,14.395,81,0,3,13,16
0    1/01/2011 1:00,1,0,0,1,9.02,13.635,80,0,8,32,40
1    1/01/2011 2:00,1,0,0,1,9.02,13.635,80,0,5,27,32
2    1/01/2011 3:00,1,0,0,1,9.84,14.395,75,0,3,10,13
3      1/01/2011 4:00,1,0,0,1,9.84,14.395,75,0,0,1,1
4  1/01/2011 5:00,1,0,0,2,9.84,12.88,75,6.0032,0,1,1

  datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0    1/01/2011 0:00,1,0,0,1,9.84,14.395,81,0,3,13,16
1    1/01/2011 1:00,1,0,0,1,9.02,13.635,80,0,8,32,40
2    1/01/2011 2:00,1,0,0,1,9.02,13.635,80,0,5,27,32
3    1/01/2011 3:00,1,0,0,1,9.84,14.395,75,0,3,10,13
4      1/01/2011 4:00,1,0,0,1,9.84,14.395,75,0,0,1,1

?:
ANSWER: Case 1 treats headings as just another data row. Case 2 treats the 1st data row as the column header. Case 3 gets the header right (row 0), but reads each row as a single column (Nb. the other two make that same mistake).

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [134]:
#ANSWER:

# wrong:
bikes = pd.read_csv('bikeshare.csv')
print(bikes)
print()

               datetime  season  holiday  workingday  weather   temp   atemp  \
0        1/01/2011 0:00       1        0           0        1   9.84  14.395
1        1/01/2011 1:00       1        0           0        1   9.02  13.635
2        1/01/2011 2:00       1        0           0        1   9.02  13.635
3        1/01/2011 3:00       1        0           0        1   9.84  14.395
4        1/01/2011 4:00       1        0           0        1   9.84  14.395
...                 ...     ...      ...         ...      ...    ...     ...
10881  19/12/2012 19:00       4        0           1        1  15.58  19.695
10882  19/12/2012 20:00       4        0           1        1  14.76  17.425
10883  19/12/2012 21:00       4        0           1        1  13.94  15.910
10884  19/12/2012 22:00       4        0           1        1  13.94  17.425
10885  19/12/2012 23:00       4        0           1        1  13.12  16.665

       humidity  windspeed  casual  registered  count
0            81     0.0000       3          13     16
1            80     0.0000       8          32     40
2            80     0.0000       5          27     32
3            75     0.0000       3          10     13
4            75     0.0000       0           1      1
...         ...        ...     ...         ...    ...
10881        50    26.0027       7         329    336
10882        57    15.0013      10         231    241
10883        61    15.0013       4         164    168
10884        61     6.0032      12         117    129
10885        66     8.9981       4          84     88

[10886 rows x 12 columns]

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be delth with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [135]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [136]:
df = pd.read_excel('Iris.xls', sheet_name = 'Sheet1')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,NaN,NaN,alpha,obj,NaN,NaN
1,NaN,7,3.2,4.7,1.4,Iris-versicolor,NaN,0.0,0,0,0.0,1.0
2,NaN,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
3,NaN,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
4,NaN,5.5,2.3,4,1.3,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
96,NaN,4.8,3,1.4,0.3,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
97,NaN,5.1,3.8,1.6,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
98,NaN,4.6,3.2,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
99,NaN,5.3,3.7,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
100,NaN,5,3.3,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [137]:
#ANSWER
df = pd.read_excel('Iris.xls', sheet_name = 'Sheet1', header=1 ,usecols=["Sepal Length (cm)","Sepal Width (cm)"])
df.head()

   Sepal Length (cm)  Sepal Width (cm)
0                7.0               3.2
1                6.4               3.2
2                6.9               3.1
3                5.5               2.3
4                6.5               2.8

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [138]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2021-07-17T05:59:01.480Z,44.439167,-110.333832,5.99,2.69,ml,33.0,62,0.05886,0.31,...,2021-07-17T06:05:50.050Z,"66 km ESE of West Yellowstone, Montana",earthquake,0.51,0.91,0.32,16,reviewed,uu,uu
1,2021-07-17T05:27:42.703Z,44.439300,-110.379900,6.42,2.60,ml,NaN,41,0.14700,0.55,...,2021-07-17T05:39:48.040Z,"62 km ESE of West Yellowstone, Montana",earthquake,4.30,6.90,0.06,36,reviewed,us,us

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [139]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

df = pd.read_html(url)
df

[                         Bank NameBank           CityCity StateSt  CertCert  \
 0                    Almena State Bank             Almena      KS     15426
 1           First City Bank of Florida  Fort Walton Beach      FL     16748
 2                 The First State Bank      Barboursville      WV     14361
 3                   Ericson State Bank            Ericson      NE     18265
 4     City National Bank of New Jersey             Newark      NJ     21111
 ..                                 ...                ...     ...       ...
 558                 Superior Bank, FSB           Hinsdale      IL     32646
 559                Malta National Bank              Malta      OH      6629
 560    First Alliance Bank & Trust Co.         Manchester      NH     34264
 561  National State Bank of Metropolis         Metropolis      IL      3815
 562                   Bank of Honolulu           Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                            Equity Bank    October 23, 2020     10538
 1              United Fidelity Bank, fsb    October 16, 2020     10537
 2                         MVB Bank, Inc.       April 3, 2020     10536
 3             Farmers and Merchants Bank   February 14, 2020     10535
 4                        Industrial Bank    November 1, 2019     10534
 ..                                   ...                 ...       ...
 558                Superior Federal, FSB       July 27, 2001      6004
 559                    North Valley Bank         May 3, 2001      4648
 560  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 561              Banterra Bank of Marion   December 14, 2000      4646
 562                   Bank of the Orient    October 13, 2000      4645

 [563 rows x 7 columns]]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [140]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [141]:
#ANSWER
count_row = df.shape[0]  # Gives number of rows
count_col = df.shape[1]  # Gives number of columns
print (count_row)
print (count_col)

100
3

What are the column names in `bikes`?

In [142]:
#ANSWER
for col in bikes.columns:
    print(col)

datetime
season
holiday
workingday
weather
temp
atemp
humidity
windspeed
casual
registered
count

What are the data types of these columns?

In [143]:
#ANSWER
df.dtypes

integer              int64
datetime    datetime64[ns]
category             int64
dtype: object

What is the (row) index for this DataFrame?

In [144]:
#ANSWER
df.loc[3]

integer                       6
datetime    2015-01-01 00:00:03
category                      0
Name: 3, dtype: object

In [145]:
df.iloc[3]

integer                       6
datetime    2015-01-01 00:00:03
category                      0
Name: 3, dtype: object

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [146]:
#ANSWER
print(bikes['season'])

0        1
1        1
2        1
3        1
4        1
        ..
10881    4
10882    4
10883    4
10884    4
10885    4
Name: season, Length: 10886, dtype: int64

In [147]:
#ANSWER
print(bikes[['season']])

       season
0           1
1           1
2           1
3           1
4           1
...       ...
10881       4
10882       4
10883       4
10884       4
10885       4

[10886 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [148]:
#ANSWER
row1 = df.iloc[0:4]
print(row1)

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [149]:
#bikes[[0]]
#E: bikes[0]
#E: bikes[0,0]
#E: bikes[[0,0]]

What is the correct way to access the 1st row of the DataFrame by its index?

In [150]:
#ANSWER

row1 = df.iloc[0]
print(row1)

integer                       5
datetime    2015-01-01 00:00:00
category                      0
Name: 0, dtype: object

What is the correct way to access the 2nd column of the DataFrame by its index?

In [151]:
#ANSWER
row1 = df.iloc[1]
print(row1)

integer                       5
datetime    2015-01-01 00:00:01
category                      0
Name: 1, dtype: object

## Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [152]:
bikes.isnull().head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [153]:
#ANSWER
df.isnull().sum().sort_values(ascending = False)

integer     0
datetime    0
category    0
dtype: int64

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [154]:
#ANSWER
#df.columns[df.isna().any()].tolist()
bikes.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER: Marking a data point as invalid.

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [155]:
#ANSWER
bikes.isnull().sum().sort_values(ascending = False)

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

Apply the Pandas `isna` function to the following data objects:

In [156]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [157]:
#ANSWER

In [158]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [159]:
#ANSWER

How is the pandas I/O parameter `na_values` used?

? ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [160]:
#ANSWER
Season = bikes.season
bikes = list(row[i] for i in seasons)

NameError: name 'seasons' is not defined

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [0]:
#ANSWER

Compute and print the overall minimum and maximum of the numeric data columns:

In [0]:
bikes_min, bikes_max = (min(bikes.min()), max(bikes.max()))
bikes_min, bikes_max

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [0]:
bikes['atemp'].quantile(0.5)

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [0]:
#ANSWER

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [0]:
type(bikes['atemp'])

In [0]:
bikes.sample(5)

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indcates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [0]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [0]:
#ANSWER

Here is a random sample of `atemp_level`:

In [0]:
atemp_level.sample(5)

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [0]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [0]:
#ANSWER

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [0]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [0]:
# Cleaning Data

## Load Data

Load rock.csv and clean the dataset.

## Check Column Names

Check column names and clean.

## Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

## Write Some Functions

## Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

## Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

## Apply these functions to your dataset

## Describe the new float-only DataFrame.

>



---



---



> > > > > > > > > © 2021 Institute of Data


---



---